<!doctype html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" , shrink-to-fit=no>
    <link rel="stylesheet" href="../static/sign_up.css"
  />
  <title>Home</title>
</head>
<body>
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
</body>
</html>