<!doctype html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" , shrink-to-fit=no>
    <link rel="stylesheet" href="../static/home.css"
  />
  <title>Home</title>
</head>
<body>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close1" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close1" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

  <form method="POST" class="main_form">
    <h1 align="center" class="title">Notes</h1>
    <ul class="list-group-list-group-flush" id="notes">
  <div class="notes-container">
      {% for note in user.notes %}
      <li class="list-group-item">
        <span class="note-text">{{ note.data | replace('\n', '<br>') | safe }}</span>
        <button type="button" class="close"  onclick="deleteNote({{ note.id }})">
          <img src="../static/Union.png" alt="Delete Icon" class="delete-icon" />
        </button>
      </li>
      {% endfor %}
    </ul>
    </form>
    </div>

    <div class="logout-container">
      <form action="{{ url_for('auth.logout') }}" method="POST">
      <span class="logout-text">Logout</span>
          <button  type="submit" class="logout-btn">
          <img src="../static/logout button.png" alt="Logout Icon" class="Logout-icon" />
        </button>
      </form>
    </div>

    <form method="POST" class="note-form">
      <textarea name="note" id="note" class="form-control" placeholder="Write your note here..."></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn-btn-primary">Add Note</button>
      </div>
    </form>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</body>
</html>