<!doctype html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" , shrink-to-fit=no>
    <link rel="stylesheet" href="../static/sign_up.css"
  />
  <title>Sign Up</title>
</head>
<body>

   {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <form method="POST">
        <h3 align="center" class="title">Sign Up</h3>
        <div class="form-group1">
          <input
            type="email"
            class="form-control1"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group2">
          <input
            type="text"
            class="form-control2"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"
          />
        </div>
        <div class="form-group3">
          <input
            type="password"
            class="form-control3"
            id="password1"
            name="password1"
            placeholder="Enter password"
          />
        </div>
        <div class="form-group4">
          <input
            type="password"
            class="form-control4"
            id="password2"
            name="password2"
            placeholder="Confirm password"
          />
        </div>
        <br />
        <button type="submit" class="btn-btn-primary">Submit</button>
      </form>
</body>
</html>