
body{
position: relative;
width: 100%;
height: 100%;
background: url("../static/pretty wallpaper.jpeg") no-repeat center center fixed;
background-size: cover;
cursor: url("../static/cursor/default_cursor.png"), auto;
}


form{
position: relative;
width: 550px;
height: 600px;
left: 500px;
top: 60px;

background: rgba(255, 255, 255, 0.84);
box-shadow: 0px 15px 40px 4px #6641AC;
}

.title
{
position: absolute;
left: 30%;
top: -130px;

font-family: 'Pixelify Sans';
font-style: normal;
font-weight: 600;
font-size: 80px;
line-height: 216px;
text-align: center;
letter-spacing: 0.035em;

color: #5020A9;

}


.form-group
{
box-sizing: border-box;

position: absolute;
width: 450px;
height: 60px;
left: 42px;
top: 191px;

border: 3px solid #5020A9;
box-shadow: 3px 6px 0px 6px #5020A9;
border-radius: 4px;
}

.email-icon
{
box-sizing: border-box;
position: absolute;
width: 25px;
height: 20px;
left: 90%;
top: 31.79%;
}

.form-control
{
position: absolute;
width: 439.9px;
height: 53px;

font-family: 'Pixelify Sans';
color: #5020A9;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
letter-spacing: 0.35em;

color: #5020A9;
background-color: transparent;
border: 1px solid #5020A9;
}

.form-group2
{
    box-sizing: border-box;
    
    position: absolute;
    width: 450px;
    height: 60px;
    left: 42px;
    top: 300px;
    
    border: 3px solid #5020A9;
    box-shadow: 3px 6px 0px 6px #5020A9;
    border-radius: 4px;
}

.pass-icon
{
box-sizing: border-box;
position: absolute;
width: 22px;
height: 25px;
left: 91%;
top: 31.79%;
}

.form-control2
{
position: absolute;
width: 439.9px;
height: 53px;
    
font-family: 'Pixelify Sans';
color: #5020A9;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;
letter-spacing: 0.35em;
    
color: #5020A9;
background-color: transparent;
border: 1px solid #5020A9;
}

.btn-btn-primary
{
position: absolute;
width: 202px;
height: 56px;
left: 180px;
top: 500px;

font-family: 'Pixelify Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 48px;
letter-spacing: 0.35em;

color: #5020A9;

box-sizing: border-box;
background-color: transparent;
border: 3px solid #5020A9;
box-shadow: 3px 6px 0px 6px #5020A9;
border-radius: 4px;
}

.btn-btn-primary:hover
{
background-color: #7f12eb0d;
display: inline-block;
cursor: url("../static/cursor/hover_cursor.png"), auto;
}

.signup-text {
    position: absolute;
    width: 786px;
    height: 77px;
    left: 20%;
    top: 65%;
    font-family: 'Pixelify Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 43px;
    letter-spacing: 0.095em;
    
    color: #342424;
}

.signup-link {
    color: #00C9FB; /* Blue color */
    text-decoration: none; /* Remove underline */
    font-weight: normal;
    transition: color 0.3s ease-in-out;
}

.signup-link:hover {
    color: #038fb1; 
    cursor: url("../static/cursor/hover_cursor.png"), auto;
}

