
body
{
position: relative;
width: 100%;
height: 100%;
background: url("../static/pretty wallpaper.jpeg") no-repeat center center fixed;
background-size: cover;
}

form
{
position: absolute;
width: 550px;
height: 600px;
left: 550px;
top: 60px;

background: rgba(255, 255, 255, 0.84);
box-shadow: 0px 15px 40px 4px #6641AC;
}


{
position: absolute;
width: 865px;
height: 144px;
left: 219px;
top: 391px;
}


.form-group
{
box-sizing: border-box;

position: absolute;
width: 450px;
height: 50px;
left: 30px;
top: 391px;

border: 5px solid #5020A9;
box-shadow: 6px 14px 2px 13px #5020A9;
border-radius: 10px;
}

.email-icon
{
box-sizing: border-box;
position: absolute;
left: 57.2%;
top: 38.79%;
}

.form-control
{
position: absolute;

font-family: 'Pixelify Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.35em;

color: #5020A9;

border: 1px solid #5020A9;
}

/* password section */
{
position: absolute;
width: 859.16px;
height: 144px;
left: 221px;
top: 638px;
}


/* Rectangle 3 */
{
box-sizing: border-box;

position: absolute;
width: 859.16px;
height: 144px;
left: 221px;
top: 638px;

border: 5px solid #5020A9;
box-shadow: 6px 14px 2px 13px #5020A9;
border-radius: 10px;
}

/* Vector */
{
position: absolute;
left: 56.94%;
right: 39.77%;
top: 60.7%;
bottom: 33.5%;

background: #5020A9;
}

/* Password */
{
position: absolute;
width: 414px;
height: 56px;
left: 249px;
top: 687px;

font-family: 'Pixelify Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.305em;

color: #5020A9;

border: 1px solid #5020A9;
}

/* Login */
{
position: absolute;
width: 997px;
height: 236px;
left: 153px;
top: 52px;

font-family: 'Pixelify Sans';
font-style: normal;
font-weight: 600;
font-size: 180px;
line-height: 216px;
text-align: center;
letter-spacing: 0.035em;

color: #5020A9;
}


/* login button */
{
position: absolute;
width: 422px;
height: 124px;
left: 435px;
top: 1094px;
}


/* Login */
{
position: absolute;
width: 202px;
height: 56px;
left: 565px;
top: 1128px;

font-family: 'Pixelify Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.35em;

color: #5020A9;
}


/* Rectangle 4 */
{
box-sizing: border-box;

position: absolute;
width: 422px;
height: 124px;
left: 435px;
top: 1094px;

border: 2px solid #5020A9;
box-shadow: 6px 14px 2px 13px #5020A9;
border-radius: 20px;
}

/* Don’t have account sign up, here */
{
position: absolute;
width: 786px;
height: 77px;
left: 270px;
top: 889px;

font-family: 'Pixelify Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
letter-spacing: 0.095em;

color: #342424;
}
